
  .btn {
    color: #2967ff;
    border: 1px solid #2967ff;
    box-sizing: border-box;
    border-radius: 26px;
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    &:hover {
      background-color: #2967ff;
      color: #ffffff;
      transition: 0.3s;
    }
    &:active {
      background-color: #102c70;
    }
  }
