.priceBlock {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.price {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #2967ff;
  padding: 5px 10px;
  border: 1px solid #2967ff;
  border-radius: 10px;
  transition: 0.3s;
}

.priceItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.varProperties {
  width: 60%;
  display: grid;
  grid-template-columns: max-content max-content;
  margin-top: 10px;
  &__title {
    font-weight: bold;
    padding: 5px;
  }
  &__key {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .varProperties__title {
      border-left: 2px solid #2967ff;
      border-top: 2px solid #2967ff;
      border-bottom: 2px solid #2967ff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  &__value {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .varProperties__title {
      border-right: 2px solid #2967ff;
      border-top: 2px solid #2967ff;
      border-bottom: 2px solid #2967ff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.active {
  background-color: #2967ff;
  color: #ffffff;
  transition: 0.3s;
}
